.title
{
    font-size: x-large;
    font-family: 微軟正黑體;
    color: #ffffff;
    font-weight: bold;
    height: 70px;
}
.login
{
    font-size: x-large;
    font-family: 微軟正黑體;
    color: #000000;
}
.font-x-large
{
    font-size: medium;
    font-family: 微軟正黑體;
    color: #000000;
}
.font-medium
{
    font-size: medium;
    font-family: 微軟正黑體;
    color: #000000;
}
.Button
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(1, #ffffff));
    background-color: #ffffff;
    display: inline-block;
    border: none;
    font-size: large;
    font-family: 微軟正黑體;
    width: 100%;
    height: 74px;
    color: #0f6fc6;
    cursor: pointer;
}
.SelectButton
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #7cca62), color-stop(1, #7cca62));
    background-color: #7cca62;
    display: inline-block;
    border: none;
    font-size: large;
    font-family: 微軟正黑體;
    width: 100%;
    height: 74px;
    color: #ffffff;
    cursor: pointer;
}
.LoginButton
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0f6fc6), color-stop(1, #0f6fc6));
    background-color: #0f6fc6;
    display: inline-block;
    border: none;
    font-size: medium;
    font-family: 微軟正黑體;
    width: 100%;
    text-align: left;
    height: 45px;
    color: #ffffff;
    cursor: pointer;
}
.GridView
{
    width: 100%;
    font-size: medium;
    font-family: 微軟正黑體;
    color: #000000;
    border: #f2f2f2 0px solid;
}
.ImageButton
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(1, #ffffff));
    width: 38px;
    height: 38px;
    background-color: Transparent;
    border: none;
}
.UploadButton
{
    display: inline-block;
    font-size: medium;
    cursor: pointer;
    font-family: 微軟正黑體;
    color: #000000;
    background-color: #E6E6E6;
    background-image: url(/FPGworkflow/images/X40PK00164/ButtonBackGround.gif);
    border: #ADADAD 1px solid;
    width: 50px;
    height: 28px;
}
.Display
{
    display: none;
}
.SaveButton
{
    display: inline-block;
    font-size: medium;
    cursor: pointer;
    font-family: 微軟正黑體;
    color: #000000;
    background-color: #7cca62;
    background-image: url(/FPGworkflow/images/X40PK00164/ButtonBackGround.gif);
    border: #7cca62 1px solid;
    width: 99%;
    padding: 6px 0px 6px 0px;
}
#SendBtn, #LoginOutBtn
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0c5395), color-stop(1, #0c5395));
    color: #ffffff;
    background-color: #0c5395;
    border: #0c5395 1px solid;
    width: 100px;
    height: 85px;
    font-weight: bold;
    cursor: pointer;
}
#MapImgBtn
{
    position: fixed;
    top: 30px;
    right: 30px;
    display: inline-block;
    font-size: x-large;
    cursor: pointer;
    font-family: 微軟正黑體;
    color: #3c3c3c;
    background-color: transparent;
    border: #3c3c3c 2px solid;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
.DeleteBtn
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(1, #ffffff));
    width: 32px;
    height: 32px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
}
.PhotoTd
{
    width: 250px;
}
.PhotoDiv
{
    width: 149px;
    overflow: auto;
    overflow-y: hidden;
}
#PhotoFu
{
    width: 200px;
}
.ItemGv
{
    margin-bottom: 0px;
}
.DivBack1
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.DivBack2
{
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}
.DivBack3
{
    width: 350px;
    background-color: #ffffff !important;
    margin: 0px auto;
    padding: 15px 5px 15px 5px;
    border: 3px solid #aaa;
    z-index: 400;
    text-align: center;
}
.Image
{
    width: 140px;
    height: 140px;
}
.PhotoTable
{
    background-color: #d9d9d9;
    height: 150px;
}
.LoginTop
{
    margin-top: 30px;
}
.LoninBottom
{
    padding-bottom: 15px;
}
